.App .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
  padding: 5px;
  text-align: center;
}

.header {
  background-color: #1890ff;
}

.ant-menu-light,
.ant-menu-sub {
  background-color: #000000 !important;
  color: #fff;
}

.apexcharts-legend {
  margin: 0 auto;
  margin-top: 200px;
  /* background-color: #eee; */
  max-width: 320px;
  height: 55px;
  min-height: 50 !important;
  max-height: 50 !important;
  overflow: scroll;
  padding: 0px !important;
  /* position: relative !important; */
}
